In [2]:
import pandas as pd
f1=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\Canada.csv')
f1.head(1)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,37058856.0,18674525.0,18384331.0,14.693103,7.237931,10.0,19.455,1.502,0.947,8.401,5.92,1.713342e+12,1.699046,-2.215552e+10,2.012919e+10,13266.022107,21.904508,78.228582,2018,Canada

In [3]:
f2=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\China.csv')
f2.head(1)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,1.392730e+09,677972245.0,714757755.0,20.537241,7.601207,9.0,28.620001,26.77,24.235001,28.267,4.417,1.360815e+13,8.678595,-5.129870e+10,9.784525e+11,1081.571912,22.896382,76.191764,2018,China

In [4]:
f3=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\Great Britain.csv')
f3.head(1)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,66488991.0,33666883.0,32822108.0,13.689655,10.884483,11.0,18.107,1.147,0.635,7.567,3.954,2.855297e+12,1.930068,-3.849080e+10,1.802072e+10,4908.429642,2.291939,91.711157,2018,Great Britain

In [5]:
f4=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\India.csv')
f4.head(1)

,Total Population,Female Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country,Male Population
0,1.352617e+09,649574719.0,31.324362,12.256448,8.0,24.686001,43.860001,57.060001,18.747999,2.551,2.718732e+12,3.470426,-2.769137e+10,3.969875e+11,335.182371,48.435321,54.656074,2018,India,703042609.0

In [6]:
f5=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\Japan.csv')
f5.head(1)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,126529100.0,64731350.0,61797750.0,12.381498,7.466062,9.0,24.500999,3.409,2.956,14.007,2.445,4.971323e+12,1.812481,5.911426e+10,6.343287e+10,5650.117744,4.258802,88.653985,2018,Japan

In [7]:
f6=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\South Africa.csv')
f6.head(1)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,57779622.0,29290888.0,28488734.0,30.794948,11.900172,9.0,23.243,5.157,3.663,12.135,26.958,3.682889e+11,1.081945,-1.164018e+10,8.014040e+09,3991.571087,17.249618,87.407528,2018,South Africa

In [10]:
f7=pd.read_csv(r'C:\Users\saura\FreeLancer\world-bank-data-analysis-master\world-bank-data-analysis-master\USA.csv')
f7.head(1)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,327167434.0,165285036.0,161882398.0,15.662069,8.744052,12.0,19.437,1.423,0.755,8.495,3.933,2.054434e+13,1.735523,2.679000e+11,1.527789e+11,10318.049364,5.957522,89.289662,2018,USA

In [13]:
df=pd.concat([f1,f2,f3,f4,f5,f6,f7])

In [14]:
df

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,37058856.0,18674525.0,18384331.0,14.693103,7.237931,10.0,19.455000,1.502,0.947000,8.401000,5.920000,1.713342e+12,1.699046,-2.215552e+10,2.012919e+10,13266.022107,21.904508,78.228582,2018,Canada
1,36540268.0,18417231.0,18123037.0,10.300000,7.500000,10.0,19.528000,1.518,0.963000,8.488000,6.340000,1.646867e+12,3.869794,-1.916350e+10,2.012919e+10,13266.022107,21.904508,78.228582,2017,Canada
2,36109487.0,18202997.0,17906490.0,10.600000,7.400000,10.0,19.649000,1.942,1.137000,8.527000,6.999000,1.526706e+12,-0.268734,-1.866831e+10,2.012919e+10,13266.022107,21.904508,78.228582,2016,Canada
3,35702908.0,17999309.0,17703599.0,10.700000,7.400000,10.0,19.923000,1.643,1.014000,8.548000,6.906000,1.552900e+12,-2.879590,-2.384449e+10,2.657520e+10,13266.022107,22.025359,74.089062,2015,Canada
4,35437435.0,17864828.0,17572607.0,10.800000,7.300000,10.0,20.177000,1.714,1.055000,8.604000,6.914000,1.801480e+12,1.392766,-2.917862e+10,2.566741e+10,15588.487146,22.024652,73.192874,2014,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,191889000.0,96951949.0,94937051.0,21.100000,9.400000,12.0,22.371036,1.823,0.948607,10.927429,5.934643,6.858000e+11,1.735523,7.356865e+10,1.527789e+11,4970.446456,5.957522,95.801621,1964,USA
55,189242000.0,95575715.0,93666285.0,21.700000,9.600000,12.0,22.371036,1.823,0.948607,10.927429,5.934643,6.386000e+11,1.735523,7.356865e+10,1.527789e+11,4690.486256,5.957522,95.769316,1963,USA
56,186538000.0,94180305.0,92357695.0,22.400000,9.500000,12.0,22.371036,1.823,0.948607,10.927429,5.934643,6.051000e+11,1.735523,7.356865e+10,1.527789e+11,4433.606021,5.957522,95.605514,1962,USA
57,183691000.0,92714569.0,90976431.0,23.300000,9.300000,12.0,22.371036,1.823,0.948607,10.927429,5.934643,5.633000e+11,1.735523,7.356865e+10,1.527789e+11,4182.175501,5.957522,95.566799,1961,USA
58,180671000.0,91157654.0,89513346.0,23.700000,9.500000,12.0,22.371036,1.823,0.948607,10.927429,5.934643,5.433000e+11,1.735523,7.356865e+10,1.527789e+11,4049.786629,5.957522,95.525670,1960,USA

In [15]:
df.shape

(413, 20)

In [16]:
dff=pd.DataFrame(df)
dff.to_csv("country.csv")
df1=pd.read_csv("country.csv")

In [17]:
df1

,Unnamed: 0,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),...,Unemployment(%),GDP in USD,National Income per Capita,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Year,Country
0,0,37058856.0,18674525.0,18384331.0,14.693103,7.237931,10.0,19.455000,1.502,0.947000,...,5.920000,1.713342e+12,1.699046,-2.215552e+10,2.012919e+10,13266.022107,21.904508,78.228582,2018,Canada
1,1,36540268.0,18417231.0,18123037.0,10.300000,7.500000,10.0,19.528000,1.518,0.963000,...,6.340000,1.646867e+12,3.869794,-1.916350e+10,2.012919e+10,13266.022107,21.904508,78.228582,2017,Canada
2,2,36109487.0,18202997.0,17906490.0,10.600000,7.400000,10.0,19.649000,1.942,1.137000,...,6.999000,1.526706e+12,-0.268734,-1.866831e+10,2.012919e+10,13266.022107,21.904508,78.228582,2016,Canada
3,3,35702908.0,17999309.0,17703599.0,10.700000,7.400000,10.0,19.923000,1.643,1.014000,...,6.906000,1.552900e+12,-2.879590,-2.384449e+10,2.657520e+10,13266.022107,22.025359,74.089062,2015,Canada
4,4,35437435.0,17864828.0,17572607.0,10.800000,7.300000,10.0,20.177000,1.714,1.055000,...,6.914000,1.801480e+12,1.392766,-2.917862e+10,2.566741e+10,15588.487146,22.024652,73.192874,2014,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,54,191889000.0,96951949.0,94937051.0,21.100000,9.400000,12.0,22.371036,1.823,0.948607,...,5.934643,6.858000e+11,1.735523,7.356865e+10,1.527789e+11,4970.446456,5.957522,95.801621,1964,USA
409,55,189242000.0,95575715.0,93666285.0,21.700000,9.600000,12.0,22.371036,1.823,0.948607,...,5.934643,6.386000e+11,1.735523,7.356865e+10,1.527789e+11,4690.486256,5.957522,95.769316,1963,USA
410,56,186538000.0,94180305.0,92357695.0,22.400000,9.500000,12.0,22.371036,1.823,0.948607,...,5.934643,6.051000e+11,1.735523,7.356865e+10,1.527789e+11,4433.606021,5.957522,95.605514,1962,USA
411,57,183691000.0,92714569.0,90976431.0,23.300000,9.300000,12.0,22.371036,1.823,0.948607,...,5.934643,5.633000e+11,1.735523,7.356865e+10,1.527789e+11,4182.175501,5.957522,95.566799,1961,USA
412,58,180671000.0,91157654.0,89513346.0,23.700000,9.500000,12.0,22.371036,1.823,0.948607,...,5.934643,5.433000e+11,1.735523,7.356865e+10,1.527789e+11,4049.786629,5.957522,95.525670,1960,USA